.container {
    margin-left: 110px;
    margin-right: 110px;
}

* {
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    width: 1400px;
    background-color: #000000;
    display: block;
}

header a {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    margin-top: 22px;
    height: 20px;
}

header nav {
    width: 489px;
    display: flex;
    justify-content: space-around;
}

.mainHeader {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.headerNav {
    display: flex;
    align-content: center;
}

.headerNav a:hover {
    background-color: red;
}

#miniLogo {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto', Arial, sans-serif;
    color: #ffffff;
    line-height: 70px;
}

#miniLogo span {
    color: #E72424;
}

.firstSection {
    height: 601px;
    width: 1400px;
    background-image: url(../images/background-1.jpg);
    display: flex;
}

#logo {
    width: 129px;
    height: 70px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 70px;
}

#logo span {
    color: #E72424;
}

.container2 {
    display: flex;
    justify-content: space-between;
    width: 1290px;
}

.leftBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 110px;
    margin-top: 109px;
    margin-bottom: 101px;
}

#form {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 370px;
    background-color: #FFFFFF;
    align-self: center;
}

#form h3 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    height: 56px;
    text-align: center;
    padding-top: 15px;
}

#form h3 span {
    color: #E72424;
}

#username,
#email,
#password {
    width: 252px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}

#formData {
    display: flex;
    height: 314px;
    align-items: flex-end;
}

#formData .fields {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    padding-bottom: 15px;
    border: none;
}

.firstSection h2 {
    color: #FFFFFF;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    font-family: 'Raleway', Arial, ssans-serif;
    text-transform: uppercase;
}

.firstSection h2::after {
    content: '';
    display: block;
    width: 64px;
    border-bottom: 1px solid #FFFFFF;
    margin-top: 23px;
}

.firstSection p {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.firstSection button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background-color: transparent;
    color: #FFFFFF;
    width: 135px;
    height: 42px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

#butGetStarted {
    font-family: 'Open Sans', Arial, sans-serif;
    width: 370px;
    height: 54px;
    background-color: #EC7979;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.secondBlock {
    display: flex;
    align-items: center;
    height: 110px;
}

#logosGroup {
    display: flex;
    width: 684px;
    justify-content: space-around;
}

.secondSection {
    width: 1400px;
    height: 110px;
    background-color: #F8EFEF;
    font-family: 'Open Sans', Arial, sans-serif;
}

.secondSection h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    align-items: center;
    color: #333333;
}

.secondSection p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    color: #86878B;
}

.thirdSection {
    width: 1400px;
    height: 600px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.section_3_1 {
    display: flex;
}

.section_3_2 {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    justify-content: space-between;
    margin-top: 125px;
    margin-bottom: 125px;
}

.tabs {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
}

.thirdSection button {
    width: 112px;
    height: 110px;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    background-color: #333333;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    margin-top: 10px;
}

#firstTAB:hover {
    background-color: #EC7979;
}

.thirdSection h3 {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 19.07px;
}

#img_section_3 {
    width: 320px;
    height: 253px;
    margin-top: 125px;
    margin-left: 50px;
}

.thirdSection p {
    font-size: 14px;
    color: #86878B;
    text-transform: uppercase;
}

#butDownload {
    width: 135px;
    height: 42px;
    background-color: #EC7979;
    border: 1px solid #FFFFFF;
    font-weight: 600;
    font-size: 15px;
}

.fourthSection {
    width: 1400px;
    height: 600px;
}

.fourthSection h2 {
    color: #212121;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 400;
}

.fourthSection .secondLine {
    width: 64px;
    height: 0px;
    border: 1px solid #EC7979;
}

.fourthSection p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    color: #86878B;
}

.cards h4 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}

.cards p {
    color: #000000;
}

.fifthSection {
    width: 1400px;
    height: 800px;
    background: #F5F5F5;
}

.fifthSection h2 {
    color: #212121;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    font-family: 'Raleway', Arial, sans-serif;
}

.fifthSection .secondLine {
    width: 64px;
    height: 0px;
    border: 1px solid #EC7979;
}

.fifthSection p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    color: #86878B;
}

.sixthSection {
    height: 600px;
    width: 1400px;
    color: #FFF;
}

.seventhSection {
    width: 1400px;
    height: 326px;
    background-image: url(../images/background2.jpg);
}