.container {
    max-width: 1182px;
    width: 100%;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    width: 100%;
    background-color: #000000;
    display: block;
}

header a {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    margin-top: 22px;
    height: 20px;
    margin-left: 48px;
}

header nav {
    display: flex;
    justify-content: space-around;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header-nav {
    display: flex;
    align-content: center;
}

.header-nav a:hover {
    color: #fff;
    transform: scale(1.1);
    text-decoration: underline;
}

.main-header span {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto', Arial, sans-serif;
    color: #ffffff;
    line-height: 70px;
}

.main-header span span {
    color: #E72424;
}

.first-section {
    height: 601px;
    width: 100%;
    background-image: url(../images/background-1.jpg);
    background-size: cover;
    display: flex;
}

.first-section button:hover {
    box-shadow: 0 0 5px #fff;
    transform: scale(1.1);
}

#logo {
    width: 129px;
    height: 70px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 70px;
    margin-top: 110px;
}

#logo span {
    color: #E72424;
}

.leftBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 601px;
}

#form {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 370px;
    background-color: #FFFFFF;
    align-self: center;
}

#form h3 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    height: 56px;
    text-align: center;
    padding-top: 15px;
}

#form h3 span {
    color: #E72424;
}

#form h3 span:hover {
    transform: scale(1.1);
}

#username,
#email,
#password {
    width: 252px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}

#formData {
    display: flex;
    height: 314px;
    align-items: flex-end;
}

#formData .fields {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    padding-bottom: 15px;
    border: none;
}

.first-section h2 {
    color: #FFFFFF;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    font-family: 'Raleway', Arial, ssans-serif;
    text-transform: uppercase;
}

.first-section h2::after {
    content: '';
    display: block;
    width: 64px;
    border-bottom: 1px solid #FFFFFF;
    margin-top: 23px;
}

.first-section p {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.first-section button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background-color: transparent;
    color: #FFFFFF;
    width: 135px;
    height: 42px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 110px;
}

.first-section-content {
    display: flex;
    justify-content: space-between;
}

#butGetStarted {
    font-family: 'Open Sans', Arial, sans-serif;
    width: 370px;
    height: 54px;
    background-color: #EC7979;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.secondBlock {
    display: flex;
    align-items: center;
    height: 110px;
}

#logosGroup {
    display: flex;
    width: 684px;
    justify-content: space-around;
}

#logosGroup img:hover {
    transform: scale(1.2);
}

.social {
    width: 100%;
    height: 110px;
    background-color: #F8EFEF;
    font-family: 'Open Sans', Arial, sans-serif;
}

.social h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    align-items: center;
    color: #333333;
}

.social p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    color: #86878B;
}

.thirdSection {
    width: 100%;
    height: 600px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.section_3_1 {
    display: flex;
}

.section_3_2 {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    justify-content: space-between;
    margin-top: 125px;
    margin-bottom: 125px;
}

.tabs {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
}

.thirdSection button {
    width: 112px;
    height: 110px;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    background-color: #333333;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    margin-top: 10px;
}

#firstTAB:hover {
    background-color: #EC7979;
}

.thirdSection h3 {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 19.07px;
}

#img_section_3 {
    width: 320px;
    height: 253px;
    margin-top: 125px;
    margin-left: 50px;
}

.thirdSection p {
    font-size: 14px;
    color: #86878B;
    text-transform: uppercase;
}

#butDownload {
    width: 135px;
    height: 42px;
    background-color: #EC7979;
    border: 1px solid #FFFFFF;
    font-weight: 600;
    font-size: 15px;
}

#butDownload:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #EC7979;
    opacity: 0.7;
}

.fourthSection {
    width: 100%;
    height: 600px;
}

.cards {
    display: flex;
    align-items: center;
    height: 350px;
    justify-content: center;
}

.card_img {
    display: flex;
    justify-content: center;
}

.cards h3 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    text-align: center;
    margin-top: 20px;
}

.cards p {
    color: #000000;
}

.pricing {
    width: 100%;
    height: 800px;
    background: #F5F5F5;
}

.pricing h2,
.reviews h2,
.fourthSection h2,
.contact-us h2 {
    color: #212121;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    font-family: 'Raleway', Arial, sans-serif;
    padding-top: 80px;
    text-align: center;
    font-weight: normal;
}

.pricing h2::after,
.reviews h2::after,
.fourthSection h2::after,
.contact-us h2::after {
    content: '';
    display: block;
    width: 64px;
    border-bottom: 1px solid #E72424;
    margin: auto;
    margin-top: 34px;
}

.pricing p,
.reviews p,
.fourthSection p,
.contact-us p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    color: #86878B;
    margin-top: 34px;
    text-align: center;
}

.tables {
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
}

table {
    width: 340px;
    text-align: center;
    background-color: #fff;
}

table tr {
    height: 40px;
    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
}

.heading-table {
    height: 50px;
    background-color: #333;
    color: #FFF;
}

.heading-table.name {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}

.heading-table.price {
    height: 100px;
    font-family: "Raleway", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
}

.heading-table.description {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.middle-table {
    position: relative;
    top: -15px;
}

.reviews {
    height: 600px;
    width: 100%;
    background-color: #FFF;
}

.reviews-block {
    display: flex;
    justify-content: space-around;
}

.reviewer-info {
    display: flex;
    justify-content: space-around;
    margin-top: 22px;
    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
}

.reviewer-name {
    display: flex;
    flex-direction: column;
}

.reviewer-name span {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
    margin-top: 12px;
}

article p {
    display: flex;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
    height: 110px;
    width: 298px;
    background-color: #E2E2E2;
    border-radius: 7px;
}

.some-design {
    width: 100%;
    height: 326px;
    background-image: url(../images/background2.jpg);
    background-size: cover;
}

.some-design h2 {
    color: #FFF;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    font-family: 'Raleway', Arial, sans-serif;
    padding-top: 80px;
    text-align: center;
    font-weight: normal;
}

.some-design h2::after {
    content: '';
    display: block;
    width: 64px;
    border-bottom: 1px solid #FFF;
    margin: auto;
    margin-top: 34px;
}

.some-design p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    color: #FFF;
    margin-top: 34px;
    text-align: center;
}

.some-design button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background-color: transparent;
    color: #FFFFFF;
    width: 135px;
    height: 42px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 22px;
}

.some-design button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #fff;
}

.contact-us {
    width: 100%;
    height: 700px;
    background-color: #FFF;
}

.form-fields {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.form-fields input {
    width: 478px;
    height: 82px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}

.right-form-block input {
    height: 216px;
}

.right-form-block textarea {
    border: none;
    border-bottom: 1px solid #BDBDBD;
}

.left-form-block {
    display: flex;
    flex-direction: column;
}

#button-bottom-form {
    width: 135px;
    height: 42px;
    background-color: #EC7979;
    border: 1px solid #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    display: block;
    margin: auto;
    margin-top: 80px;
}

#button-bottom-form:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #EC7979;
    opacity: 0.7;
}

footer {
    width: 100%;
    height: 101px;
    background-color: #000;
}

footer img {
    display: block;
    margin: auto;
    padding-top: 30px;
}

footer p {
    text-align: center;
    margin-top: 18px;
    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
}